<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %> </title>
</head>
<body>
  <h1>Home</h1>
  <h2>Your path to becoming a Node.js ninja!</h2>
  <nav>
    <ul> <a href="/">Home Page</a></ul>
    <ul><a href="/about">About</a></ul>
    <ul><a href="/create">New Blog</a></ul>
  </nav>
</body>
</html>